.navbar{
    padding: 1em;
}
.navbar-brand{
    font-size:1.5em;
}
.navbar li{
   padding-left: 1em;
   padding-right: 1em;
   font-size:1.2em;
}

li{
   list-style: none;
}
// .padding{
//    padding-top:1em;
// }
// .row{
//    margin:0 auto;
// }
// .card{
//     margin:
// }
.edit-btn{
   padding: 0.5em 2em;
}
.delete-btn{
   padding: 0.5em 2em;
}
